    <div class="footer">
        <div class="top-bullet"></div>
        <div class="rule rule-top"></div>
        <div class="eyebrow">Programacion III &middot; UTN FRA</div>
        <div class="title-row">
        <div class="title">Federico Piretro</div>
        </div>
        <div class="tagline">"Segundo Parcial"</div>
        <div class="rule rule-bottom"></div>
    </div>
    </body>
</html>
