<header>
    <div class="logo">
        <a href="/dashboard/index" class="logo-container">
            <img src="/assets/img/logoPaginaPelota.jpg" alt="logo pelota">
        </a>
    </div>

    <ul class="enlaces">
        <li class="enlace">
            <a href="/dashboard/index">
                <span>VER</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/get">
                <span>CONSULTAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/post">
                <span>CREAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/put">
                <span>MODIFICAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/delete">
                <span>ELIMINAR</span>
            </a>
        </li>
    </ul>

    <div class="user-info">
        <% if (typeof user !== "undefined" && user) { %>
            <span><%= user.nombre %></span>
            <a href="/logout" class="btn-logout">Cerrar sesión</a>
        <% } %>
    </div>
</header>